.article {
	padding-top: 132px;
	padding-bottom: 84px;
	&__body {
		& + & {
			margin-top: 88px;
		}
	}
	&__top {
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
		margin-bottom: 16px;
		padding-bottom: 6px;
		border-bottom: 2px solid #fff;
	}
	&__date {
		color: $white;
		font-variant-numeric: lining-nums tabular-nums;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 0.8px;
		text-transform: uppercase;
	}
	&__social {
		display: flex;
		gap: 12px;
		&-link {
			display: block;
			width: 24px;
			height: 24px;
			cursor: pointer;
			svg {
				* {
					transition: all 0.3s;
				}
			}
			&:hover {
				svg {
					* {
						fill: $white;
						transition: all 0.3s;
					}
				}
			}
		}
	}
	&__title {
		font-family: "Neue Machina", sans-serif;
		color: $white;
		font-size: 62px;
		font-weight: 700;
		line-height: 100%;
		margin-bottom: 40px;
	}
	&__wrap {
		display: flex;
		justify-content: flex-end;
	}
	&__text {
		width: 65.7%;
		h1 {
			font-family: "Neue Machina", sans-serif;
			font-size: 110px;
			font-weight: 400;
			line-height: 80%;
			margin-bottom: 24px;
		}
		h2 {
			font-family: "Neue Machina", sans-serif;
			font-size: 64px;
			font-weight: 700;
			line-height: 100%;
			margin-bottom: 24px;
		}
		h3 {
			font-family: "Neue Machina", sans-serif;
			font-size: 40px;
			font-weight: 700;
			line-height: 100%;
			margin-bottom: 24px;
		}
		h4 {
			font-family: "Neue Machina", sans-serif;
			font-size: 37px;
			font-weight: 700;
			line-height: 110%;
			margin-bottom: 24px;
		}
		h5 {
			font-family: "Neue Machina", sans-serif;
			font-size: 32px;
			font-weight: 700;
			line-height: 110%;
			margin-bottom: 24px;
		}
		h6 {
			font-family: "Neue Machina", sans-serif;
			font-size: 28px;
			font-weight: 700;
			line-height: 110%;
			margin-bottom: 24px;
		}
		p {
			font-size: 17px;
			line-height: 140%;
		}
		ul {
			li {
				position: relative;
				padding-left: 24px;
				&::before {
					content: "";
					position: absolute;
					width: 8px;
					height: 8px;
					left: 0px;
					top: 10px;
					background: #ffffff;
					border-radius: 50%;
				}
			}
			li + li {
				margin-top: 8px;
			}
		}
		ol {
			padding: 0px;
			list-style: none;
			counter-reset: myCounter;
			li {
				position: relative;
				padding-left: 24px;
				&::before {
					content: "";
					position: absolute;
					width: 24px;
					height: 24px;
					left: 0px;
					top: 0px;
					counter-increment: myCounter;
					content: counter(myCounter) ".";
				}
			}
			li + li {
				margin-top: 8px;
			}
		}
		small {
			font-size: 14px;
			line-height: 120%;
			letter-spacing: -0.02em;
			color: #aeb3ba;
		}
		p + h4 {
			margin-top: 120px;
		}
		p + h5 {
			margin-top: 72px;
		}
		img {
			border-radius: 16px;
			overflow: hidden;
			margin-bottom: 24px;
		}
		p + p {
			margin-top: 8px;
		}
		table {
			width: 100%;
			border: 1px solid #fff;
			border-collapse: collapse;
			margin-bottom: 24px;
			tbody {
				tr {
					border: 1px solid #fff;
					td {
						padding: 10px;
					}
					td + td {
						border-left: 1px solid #fff;
					}
				}
			}
		}
	}
	.card {
		width: 100%;
	}
	.table {
		width: 100%;
		overflow: auto;
	}
}
@media (max-width: 1199px) {
	.article {
		padding-top: 128px;
		padding-bottom: 0;
		&__body {
			& + & {
				margin-top: 80px;
			}
		}
		&__title {
			margin-left: 2px;
		}
		&__text {
			width: 65.2%;
			h2 {
				font-size: 56px;
			}
		}
	}
}
@media (max-width: 992px) {
	.article {
		padding-top: 124px;
		padding-bottom: 0;
		&__body {
			& + & {
				margin-top: 75px;
			}
		}
		&__top {
			margin-bottom: 20px;
		}
		&__title {
			font-size: 32px;
			margin-bottom: 36px;
		}
		&__text {
			width: 64.5%;
			h1 {
				font-size: 58px;
				letter-spacing: 0.5px;
			}
			h2 {
				font-size: 48px;
			}
			h3 {
				font-size: 32px;
			}
			h4 {
				font-size: 30px;
			}
			h5 {
				font-size: 28px;
			}
			h6 {
				font-size: 24px;
			}
		}
		.card {
			&__caption {
				font-size: 20px;
				margin-bottom: 12px;
			}
		}
	}
}
@media (max-width: 740px) {
	.article {
		padding-top: 112px;
		padding-bottom: 45px;
		&__body {
			& + & {
				margin-top: 78px;
			}
		}
		&__text {
			width: 100%;
			h1 {
				font-size: 56px;
				margin-bottom: 16px;
			}
			h2 {
				font-size: 40px;
				margin-bottom: 16px;
			}
			h4 {
				font-size: 24px;
				margin-bottom: 16px;
			}
			h5 {
				font-size: 21px;
				margin-bottom: 16px;
			}
			h6 {
				font-size: 18px;
				margin-bottom: 16px;
			}
		}
	}
	.table {
		width: 100%;
	}
}
