.cce {
	position: relative;
	padding-top: 8px;
	padding-bottom: 114px;
	&__top {
		display: flex;
		align-items: flex-end;
		margin-bottom: 52px;
		position: relative;
		z-index: 10;
	}
	&__title {
		color: transparent;
	}
	&__subtitle {
		max-width: 210px;
		font-family: "Neue Machina", sans-serif;
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		line-height: 110%;
		margin-left: 17px;
		margin-bottom: -2px;
	}
	&__wrap {
		display: flex;
		justify-content: flex-end;
		position: relative;
		z-index: 10;
	}
	&__row {
		max-width: 736px;
		position: relative;
	}
	&__coll {
		width: 100%;
		display: flex;
		align-items: center;
		padding: 17px;
		border-radius: 16px;
		background: rgba(64, 64, 64, 0.31);
		backdrop-filter: blur(12px);
		&-box {
			flex: 1;
			min-height: 168px;
			border-right: 1px solid rgba(255, 255, 255, 0.2);
			padding: 10px 17px;
		}
		&.active {
			background: #000;
			backdrop-filter: none;
			box-shadow: 0px 8px 100px -19px rgba(212, 215, 39, 0.6);
			.cce__caption {
				color: $yellow;
			}
		}
		& + & {
			margin-top: 30px;
		}
	}
	&__desc {
		font-weight: 500;
		margin-top: 14px;
	}
	&__right {
		width: 142px;
		display: flex;
		align-items: center;
		justify-content: center;
		padding-left: 17px;
	}
}
@media (max-width: 1199px) {
	.cce {
		&__top {
			margin-bottom: 40px;
		}
		&__row {
			max-width: 615px;
		}
		&__coll {
			&-box {
				min-height: 186px;
				padding: 11px 14px;
			}
		}
		&__right {
			width: 102px;
		}
		&__desc {
			margin-top: 10px;
		}
	}
}
@media (max-width: 992px) {
	.cce {
		padding-bottom: 120px;
		&__top {
			flex-wrap: wrap;
			margin-bottom: 34px;
		}
		&__subtitle {
			max-width: 100%;
			margin-left: 0;
			margin-bottom: 0px;
			width: 100%;
			margin-top: 16px;
		}
		&__row {
			max-width: 100%;
		}
		&__coll {
			&-box {
				min-height: 128px;
			}
		}
		&__desc {
			margin-top: 14px;
		}
	}
}
@media (max-width: 740px) {
	.cce {
		padding-top: 84px;
		padding-bottom: 90px;
		&__subtitle {
			margin-top: 12px;
		}
		&__coll {
			flex-wrap: wrap;
			padding: 24px 24px 40px;
			&-box {
				min-height: auto;
				flex: auto;
				width: 100%;
				border-right: none;
				padding: 0px;
				order: 2;
			}
			& + & {
				margin-top: 24px;
			}
		}
		&__right {
			width: 100%;
			justify-content: flex-start;
			padding-left: 0;
			margin-bottom: 10px;
		}
	}
}
