/*---------------PT Root UI---------------*/
@font-face {
	font-family: "PT Root UI";
	src: url("../fonts/PT Root UI/PT Root UI VF/PT Root UI VF.eot");
	src:
		url("../fonts/PT Root UI/PT Root UI VF/PT Root UI VF.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PT Root UI/PT Root UI VF/PT Root UI VF.woff") format("woff"),
		url("../fonts/PT Root UI/PT Root UI VF/PT Root UI VF.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "PT Root UI";
	src: url("../fonts/PT Root UI/PT Root UI Medium/PT Root UI Medium.eot");
	src:
		url("../fonts/PT Root UI/PT Root UI Medium/PT Root UI Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PT Root UI/PT Root UI Medium/PT Root UI Medium.woff") format("woff"),
		url("../fonts/PT Root UI/PT Root UI Medium/PT Root UI Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "PT Root UI";
	src: url("../fonts/PT Root UI/PT Root UI Bold/PT Root UI Bold.eot");
	src:
		url("../fonts/PT Root UI/PT Root UI Bold/PT Root UI Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PT Root UI/PT Root UI Bold/PT Root UI Bold.woff") format("woff"),
		url("../fonts/PT Root UI/PT Root UI Bold/PT Root UI Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

/*---------------PP Neue Machina Font---------------*/
@font-face {
	font-family: "PP Neue Machina";
	src: url("../fonts/PP Neue Machina/PP Neue Machina.eot");
	src:
		url("../fonts/PP Neue Machina/PP Neue Machina.eot?#iefix") format("embedded-opentype"),
		url("../fonts/PP Neue Machina/PP Neue Machina.woff") format("woff"),
		url("../fonts/PP Neue Machina/PP Neue Machina.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

/*---------------Neue Machina Font---------------*/
@font-face {
	font-family: "Neue Machina";
	src: url("../fonts/Neue Machina/Neue Machina Regular/Neue Machina Regular.eot");
	src:
		url("../fonts/Neue Machina/Neue Machina Regular/Neue Machina Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Neue Machina/Neue Machina Regular/Neue Machina Regular.woff") format("woff"),
		url("../fonts/Neue Machina/Neue Machina Regular/Neue Machina Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Neue Machina";
	src: url("../fonts/Neue Machina/Neue Machina Bold/Neue Machina Bold.eot");
	src:
		url("../fonts/Neue Machina/Neue Machina Bold/Neue Machina Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Neue Machina/Neue Machina Bold/Neue Machina Bold.woff") format("woff"),
		url("../fonts/Neue Machina/Neue Machina Bold/Neue Machina Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

/*---------------IBM Plex Mono Font---------------*/
@font-face {
	font-family: "IBM Plex Mono";
	src: url("../fonts/IBM Plex Mono/IBM Plex Mono Regular/IBM Plex Mono Regular.eot");
	src:
		url("../fonts/IBM Plex Mono/IBM Plex Mono Regular/IBM Plex Mono Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/IBM Plex Mono/IBM Plex Mono Regular/IBM Plex Mono Regular.woff") format("woff"),
		url("../fonts/IBM Plex Mono/IBM Plex Mono Regular/IBM Plex Mono Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
